@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

:root {
  --blue: #0071e3;
  --purple-linear: linear-gradient(180deg, #ffb6ff, #b344ff);
  --apple-white: #f2f2f2;
  --white: #fff;
  --black: #000;
  --title-grey: #86868b;
  --link-blue: #2997ff;
  --light-transparent: rgba(255, 255, 255, 0.3);
}

*::-webkit-scrollbar {
  display: none;
}

button,
a,
li,
ul,
ol {
  all: unset;
}

button,
a,
img[alt="Apple"],
img[alt="search"],
img[alt="store"] {
  cursor: pointer;
}

body {
  font-family: "SF Pro Display", SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #f5f5f7;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #aaaaaa;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.App #content {
  transition-duration: 0.3s;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  background: transparent;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  top: 0;
  pointer-events: none;
  min-height: 831px;
  background: transparent;
}

#webgi-canvas-container .button {
  background: var(--blue);
  color: var(--apple-white);
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  position: absolute;
  top: 30px;
  border: none;
  z-index: 1;
  transition-duration: 0.3s;
}

.display-section.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 400px 0;
  height: 100vh;
  /* box-sizing: border-box; */
  opacity: 0;
  position: relative;
}

.display-section .title {
  color: var(--title-grey);
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  margin-bottom: 0;
}

.display-section .text {
  display: inline-block;
  color: transparent;
  background-image: var(--purple-linear);
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 0.5px;
  margin-top: 16px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 18px;
}

.display-section .description {
  font-size: 21px;
  font-weight: 400;
}

.display-section .button {
  background: var(--blue);
  color: var(--apple-white);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  margin: 15px;
  position: relative;
}

.button-container {
  position: relative;
  /* width: 100%; */
  text-align: center;
  margin-top: 25px;
}

.button-container .arrow {
  position: absolute;
  filter: invert(1);
  width: 40px;
  animation: throb 0.8s infinite alternate;
}

@keyframes throb {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.2;
  }
}

.button-container .arrow.top-left {
  transform: scaleY(-1) rotate(-25deg);
  top: 5px;
  left: -45px;
}

.button-container .arrow.top-right {
  transform: scaleX(-1) rotate(-25deg);
  bottom: 5px;
  right: -45px;
}

.display-section .back-button {
  background: var(--white);
  color: var(--black);
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

nav.nav-wrapper {
  margin: 0;
  width: 100%;
  min-width: 320px;
  height: 48px;
  max-height: 44px;
  font-size: 17px;
  background-color: var(--apple-white);
}

nav .nav-content {
  margin: 0 auto;
  /* box-sizing: border-box; */
  width: 100%;
  max-width: 1024px;
  padding: 0 22px;
}

nav .list-styled {
  cursor: default;
  margin: 0 -9px;
  width: auto;
  height: 44px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav .link-styled {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  color: #000000cc;
}

.jumbotron-section.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  width: 100%;
  /* box-sizing: border-box; */
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  position: relative;
  z-index: 1;
  min-height: 831px;
}

.jumbotron-section .title {
  color: var(--title-grey);
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
}

.jumbotron-section .title-header {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.8px;
}

.jumbotron-section .logo {
  width: 140px;
}

.jumbotron-section .text {
  display: inline-block;
  color: transparent;
  background-image: var(--purple-linear);
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 0.5px;
  margin-top: 16px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 18px;
}

.jumbotron-section .description {
  font-size: 21px;
  font-weight: 400;
}

.jumbotron-section .links {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
}

.jumbotron-section .button {
  background: var(--blue);
  color: var(--apple-white);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  margin: 0 14px;
}

.jumbotron-section .link {
  text-decoration: none;
  color: var(--link-blue);
  font-size: 21px;
  font-weight: 400;
  margin: 0 14px;
  cursor: pointer;
}

.jumbotron-section .iphone-img {
  margin-right: -285px;
  height: 516.1px;
  position: absolute;
  bottom: 0;
}

.mobile-or-tablet .iphone-img {
  display: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loader {
  position: fixed;
  z-index: 2;
  background-color: var(--white);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadeOut;
  animation-duration: 0.3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.loader .logo {
  max-width: 400px;
  max-height: 300px;
  width: 100%;
  height: 100%;
}

.sound-section.wrapper {
  width: 100%;
  color: #1d1d1f;
  background-color: #fbfbfd;
  height: 100vh;
}

.sound-section .body {
  max-width: 980px;
  margin: 0 auto;
}

.sound-section .content {
  max-width: 490px;
  width: 100%;
  padding: 200px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.sound-section .title {
  color: #1d1d1f;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 0;
}

.sound-section .text {
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    #1e3791 0%,
    #2948b1 40%,
    #3153c6 55%,
    #385fda 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 0.5px;
  margin-top: 16px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 18px;
}

.sound-section .description {
  font-size: 21px;
  font-weight: 400;
}

.sound-section .links {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
}

.sound-section .button {
  background: var(--blue);
  color: var(--apple-white);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  margin: 0 14px;
  border: none;
}

.sound-section .link {
  text-decoration: none;
  color: var(--link-blue);
  font-size: 21px;
  font-weight: 400;
  margin: 0 14px;
  cursor: pointer;
}

.specs-section {
  background: var(--white);
}

.specs-section.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  /* height: 100vh; */
  /* opacity: 0; */
  position: relative;
}

.specs-outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.specs-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 70vh;
  width: 100%;
}

.specs-container.left {
  flex-direction: row;
}

.specs-container.right {
  flex-direction: row-reverse;
}

.specs-container .content {
  width: 50%;
  font-size: 22px;
  text-align: center;
  color: var(--black);
}

.specs-container .content h3 {
  color: var(--black);
  font-size: 26px;
}

.specs-container .content h3 p {
  font-weight: normal;
}

.specs-container .content span {
  color: var(--blue);
  font-size: 36px;
  font-weight: 600;
}

.specs-container .img-container {
  width: 50%;
  text-align: center;
}

.specs-container .img-container img {
  width: 70%;
  height: auto;
  border-radius: 15px;
}

.specs-container .img-container img[alt="A17 Pro info"],
.specs-container .img-container img[alt="Titanium casing"],
.specs-container .img-container img[alt="Action button"]  {
  width: 50%;
}

.specs-section .buy-iphone {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  /* height: 90vh; */
  width: 100%;
  text-align: center;
}

.specs-section .buy-iphone .section-title {
  font-size: 28px;
  color: var(--black);
  margin-top: 50px;
}

.specs-section .buy-iphone .section-title span {
  color: transparent;
  background-image: var(--purple-linear);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 36px;
}

.iphone-image {
  width: 100%;
  min-height: 70vh;
  text-align: center;
  position: relative; /* set to relative so we can position images absolutely inside */
}

.iphone-color-image {
  height: 85%;
  position: absolute; /* absolutely position images */
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
  transition: clip-path 0.5s ease-out;
  pointer-events: none; /* ensure non-visible images don't interfere with clicks */
}

.iphone-color-image.active {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}


.color-picker {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.5px solid var(--black);
  border-radius: 50%;
  margin-bottom: 100px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.color-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 250px;
  margin: 0 auto;
}

#natural-titanium {
  background: linear-gradient(90deg, #8a8e91, #a3a7aa, #8a8e91);
}

#white-titanium {
  background: var(--white);
}

#black-titanium {
  background: #000000;
}

#blue-titanium {
  background: #535d67;
}

.ios-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--black);
}

.ios-header {
  width: 100%;
  text-align: center;
}

.ios-header h4 {
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0;
}

.ios-header span {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
}

.ios-container .ios-17 {
  width: 80%;
  margin: 0 0 50px;
}

.ios-container button {
  text-decoration: none;
  color: var(--link-blue);
  font-size: 21px;
  font-weight: 400;
  cursor: pointer;
}

.buying-options-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: var(--black);
}

.buying-options-container h4 {
  font-size: 24px;
  text-align: center;
  color: var(--title-grey);
  padding: 0 15px;
}

.buying-options-container h4 span {
  color: var(--black);
}

.buying-options-container .btn-container {
  width: 100%;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.buying-options-container .btn-container .buying-options-btn {
  width: 350px;
  height: 200px;
  margin: 25px;
  border: 1px solid var(--black);
  border-radius: 12px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 15px;
  font-size: 17px;
}

.buying-options-container .btn-container .buying-options-btn header {
  font-weight: 600;
}

.buying-options-container .btn-container .buying-options-btn footer {
  font-size: 12px;
  letter-spacing: -0.01em;
}

.box-contents-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--black);
}

/* animation */

.box-contents-container .contents-container {
  overflow: hidden;
}

/* @media screen and (min-width:999.1px){
  .box-contents-container .contents-container img {
    transform: translateY(-110%);
    transition: transform 1.5s ease-in-out;
  }
} */

.box-contents-container h4 {
  color: var(--black);
  font-size: 40px;
  width: 100%;
  margin: 50px 0 100px;
  padding: 0 15px;
}

.box-contents-container .contents-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  min-height: 450px;
  margin-bottom: 50px;
}
.box-contents-container .contents-container img {
  width: 50%;
  margin-bottom: 25px;
}

.box-contents-container .contents-container p {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: var(--black);
}

/* more products */

.more-products {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 100vh;
}

.more-products h5 {
  color: var(--white);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.022em;
  width: 100%;
  text-align: center;
  padding: 0 15px;
}

.more-products h5 span {
  display: block;
  color: transparent;
  background-image: var(--purple-linear);
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 0.5px;
  margin-top: 16px;
  font-size: 48px;
  font-weight: 600;
}

.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  height: 300px;
  width: 300px;
  background: var(--light-transparent);
  border-radius: 15px;
  margin: 25px 0;
}

.carousel-item {
  min-width: 100%;
  scroll-snap-align: start;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 300ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.carousel-item img {
  height: auto;
  width: 100%;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  background: var(--light-transparent);
  padding: 10px 15px;
  border-radius: 15px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--title-grey);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: var(--black);
}

/* footer */

.footer {
  width: 100%;
  min-height: 70vh;
  padding: 50px 15px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.footer * {
  color: var(--white);
}

.footer-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.footer-menu {
  overflow: hidden;
}

.footer-col {
  width: 20%;
  float: left;
}

input[type="checkbox"] {
  display: none;
}

h6 {
  font-size: 14px;
  position: relative;
  z-index: 1;
  margin-bottom: 6px;
  margin-top: 0;
}

.product-list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.product-list li {
  margin-bottom: 5px;
  line-height: 1;
}

.product-list a {
  display: block;
  padding: 0.3rem 0;
  font-size: 12px;
  color: var(--white);
  transition: color 0.5s ease-in-out;
}

.product-list a:hover {
  color: var(--title-grey);
}

input[type="checkbox"]:checked + .col-section .product-list {
  transition: transform 300ms ease;
  -webkit-transform: 300ms ease;
  visibility: visible;
  position: static;
  transform: none;
}

input[type="checkbox"]:checked + .col-section h6::after {
  transform: rotate(45deg) scale(1.08);
}

.footer-base {
  padding-top: 34px;
  padding-bottom: 21px;
  color: #888;
  font-size: 12px;
}

.footer-more-ways {
  margin-bottom: 7px;
  padding-bottom: 6px;
  border-bottom: 1px solid #d6d6d6;
}

.nowrap {
  white-space: nowrap;
}

.footer-legal-copyright {
  margin-right: 30px;
  float: left;
  margin-top: 3px;
}

.footer-legal-links {
  float: left;
}

.footer-legal-links a {
  border-right: 1px solid #d6d6d6;
  margin-right: 10px;
  padding-right: 12px;
  display: inline-block;
  margin-top: 3px;
  white-space: nowrap;
  color: var(--apple-white);
  transition: color 0.5s ease-in-out;
}

.footer-legal-links a:last-child {
  border-right: none;
}

.footer-legal-links a:hover {
  color: var(--title-grey);
}

@media only screen and (min-width: 767px) {
  .item-padding-top {
    padding-top: 24px;
  }
}

@media screen and (max-width: 990px) {
  .jumbotron-section .iphone-img,
  nav .link-styled {
    display: none;
  }

  nav .list-styled {
    padding-left: 0;
  }

  .jumbotron-section.wrapper,
  .sound-section.wrapper,
  .display-section.wrapper {
    padding-left: 20px;
    padding-right: 20px;
    /* box-sizing: border-box; */
    text-align: center;
  }

  .jumbotron-section .description,
  .sound-section .description,
  .display-section .description {
    font-size: 14px;
  }

  .jumbotron-section.wrapper,
  .sound-section .content,
  .display-section.wrapper {
    padding-top: 20px;
  }

  #webgi-canvas-container,
  .jumbotron-section.wrapper {
    min-height: 746px;
    height: 100vh;
  }

  .sound-section.wrapper {
    height: 100vh;
  }

  .sound-section .content {
    max-width: 100%;
  }

  .specs-section .buy-iphone .section-title span {
    display: block;
  }

  .specs-container.left,
  .specs-container.right {
    flex-direction: column;
    text-align: center;
    height: unset;
    flex-wrap: wrap;
    width: 350px;
    min-height: 80vh;
  }

  .specs-container .content,
  .specs-container .img-container {
    width: 100%;
  }

  .specs-container .content h3 {
    color: var(--black);
    font-size: 22px;
  }

  .specs-container .content h3 p {
    padding: 15px 0;
  }

  .specs-container .content span {
    color: var(--blue);
    font-size: 32px;
    line-height: 1;
  }

  .specs-container .img-container img {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {

  .ios-container {
    height: 55vh;
  }

  .ios-container .ios-17 {
    width: 90%;
  }

  .footer {
    padding: 50px 15px;
    padding-bottom: 21px;
  }

  .footer-col {
    width: 100%;
  }

  .footer-content {
    text-align: center;
  }

  .item {
    border-bottom: 1px solid #d6d6d6;
  }

  h6 {
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
  }

  h6::after {
    content: "+";
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: -2px;
    margin-right: 8px;
    transition: transform 0.3s ease;
  }

  .product-list {
    visibility: hidden;
    position: absolute;
    transform: translateY(-100px);
    z-index: 1;
    padding: 5px 0 16px 0;
  }

  .product-list li {
    margin: 0;
  }

  .product-list a {
    display: block;
    padding: 10px 15px;
  }

  .footer-col {
    overflow: hidden;
  }

  .footer-base {
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-more-ways {
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 20px 10px;
  }

  .footer-legal {
    text-align: center;
  }

  .footer-legal-copyright {
    float: none;
    text-align: center;
    margin: 0;
    padding: 10px;
  }
}
